@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "About";
}
<h2>WELCOME TO WALKSPLORATION </h2>


<div class="container" style="margin-top: 30px">
    <div class="col-md-6">
        <!-- Code for image carousel -->
        <div id="myCarousel" class="carousel slide" data-ride="carousel" style="margin-bottom: 30px">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
                <li data-target="#myCarousel" data-slide-to="4"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="~/Images/imageCarousel/1C7C4EB4E1.jpg" alt="CoolPicture1">
                    <div class="carousel-caption">
                        <h1>WalkSploration</h1>
                        <h3>Connecting people to the world around them</h3>
                    </div>
                </div>
                <div class="item">
                    <img src="~/Images/imageCarousel/1ORM9KMFEW.jpg" alt="CoolPicture2">
                    <div class="carousel-caption">
                        
                    </div>
                </div>
                <div class="item">
                    <img src="~/Images/imageCarousel/5FVJ2PSHJS.jpg" alt="CoolPictures3">
                    <div class="carousel-caption">
                        
                    </div>
                </div>
                <div class="item">
                    <img src="~/Images/imageCarousel/9XDWBXHCR5.jpg" alt="CoolPictures4">
                    <div class="carousel-caption">
                       
                    </div>
                </div>
                <div class="item">
                    <img src="~/Images/imageCarousel/5UJ56BP1OF.jpg" alt="CoolPicture5">
                    <div class="carousel-caption">
                       
                    </div>
                </div>
            </div>
            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    </div>
<div id="fb-root"></div>



