@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Contact";
}



    <form id="contact-form" method="POST" action="processForm.php" name="ContactForm">
        <h2>
            Drop us a line!
        </h2>
        <p class="intro">
            What do you like about our Application? What things do you want us to add in the future? Contact us and let us know!
        </p>

        <p class="inputfield"><label for="subject">Subject</label></p>
        <input type="text" id="name" name="name" placeholder="What's this about?" style="color: #fff;" onfocus="if (this.value == '90') {this.value=''; this.style.color='#000';}" required tabindex="1" />

        <p class="inputfield"><label for="message">Your Message</label></p>
        <textarea name="message" id="message" tabindex="2"></textarea>

        <p class="inputfield"><label for="name">Name</label></p>
        <input type="text" id="name" name="name" placeholder="First and last name" style="color: #fff;" onfocus="if (this.value == '90') {this.value=''; this.style.color='#000';}" required tabindex="3" />

        <p class="inputfield"><label for="email">Email</label></p>
        <input type="text" id="email" name="email" placeholder="yourname@domain.com" required tabindex="4" />

        <input name="submit" type="submit" id="submit" tabindex="5" value="Submit" />
    </form>

