@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Contact";
}


<form id="contact-form" method="POST" action="processForm.php" name="ContactForm">
    <h2>
        Drop us a line!
    </h2>
    <p class="intro">
        What do you like about our Application? What things would you like us to add in the future? Contact us and let us know!
    </p>
    <br />

    <a href="mailto:walksploration@gmail.com?subject=feedback">Send Us Feedback</a>
