@{
    ViewBag.Title = "Walksploration";
}

<div class="jumbotron">
    <img src="~/Images/walksplorationBanner.png" style="width : 100% " />
</div>

<div class="container">
    <div class="col-md-12">
        <h2>Have a minute?</h2>
        <h4 style="padding-left: 20px;">Explore your world! Enter your available time, and we will send you to a new, exciting point of interest for you to explore.</h4>
    </div>
</div>

@*@using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {*@
@*<form id="addStartInfo" style="background:#ffffff; border: 1px solid #000000; width: 40%; margin:0 auto; padding: 0px 12px;">

    <p> How long do you have for your walk?</p>

    <!-- Slider range for time input value = 0 sets the initial slider posiiont     the onchange command updates view in time-display span below-->
    <input type="range" id ="timeSliderRange" name = "Timeslider"  min="1" max="60" step="1" value="0" onchange="showValue(this.value), showVal(this.value)" /><br />

    <!--Adds the little clock icon*                             Space Holder for minute display-->
    <p><span class="glyphicon glyphicon-time"></span>   <span id="time-display" name ="TimeDisplayed">1</span> mins </p>*@

@using (Html.BeginForm("StartPlaceTest", "Home", FormMethod.Post))
{ 
if (IsPost)
{
    var time = Request["TimeInput"];
        <p>You Entered: Time: @time</p>
    }
    else
    {
        <form method="post" action="StartPlaceTest">
            <label for="time">Points:</label>
            <input type="range" name="TimeInput" id="time" value="0" min="1" max="60" data-show-value="true">
            <input type="submit" data-inline="true" value="Submit">

        </form>
    }
}

<div id="latlong">
    <p><span id="latbox" name="lat"> </span></p>
    <p><span id="lngbox" name="lng"> </span></p>
</div>


    <!--Place holder for the map view -->
    <h3 id="map_canvas" style="max-width: 1140px; height: 350px; border: 4px solid #5E5454;"></h3>

    <!--Begin Javascript calls-->
    <!-- Referenced Files:

        function InitializeMap()        -  Lives in:    Views > Shared > _Layout.cshtml
        function handleLocationError()  -  Lives in:    Views > Shared > _Layout.cshtml
          -->

    <script>


        function AddStartInfo(timeElement, latElement, lonElement) {

            var error_flag = false;
            var msg = 'Time in: ' + timeElement.value + 'Latitude: ' + latElement.value + 'Longitude:  ' + lonElement.value + '\n';






            // Referencing the Detroit Eatz Project - Thanks for the help guys!
            ajaxHelper('StartPlace', 'POST', (time, outLat, outLon));

            addStartInfo.submit();
        }
        }




    </script>


