@{
    ViewBag.Title = "Walksploration";
}

<div class="jumbotron">
    <img src="~/Images/walksplorationBanner.png" style="width : 100% " />
</div>


@*Commented out on 8.30.15 to see if processing through the home controller would be more efficient*@
<div>
    <p>
        Enter current location <input type="text" id="address" name="address" size="8" value="" />
        Enter available time <input type="text" id="availableTime" name="availableTime" size="8" value="" />
        <input type="button" id="submitWalk" value="Let's Explore!" onclick="searchAddress("""");" />
    </p>
</div>

<h3 id="map_canvas" style="max-width: 1140px; height: 350px; border: 4px solid #5E5454;">
</h3> 

@*<div class="social">
    <p>Love walksploration? Spread the word!</p>
    <div class="twitter">
        <a href="https://twitter.com/share" class="twitter-share-button" data-via="walksploration" target="_blank">Tweet</a>
        <script>!function (d, s, id) { var js, fjs = d.getElementByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>
    </div>
</div>*@

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
<div class="row">
    <h2 id="contact" name="#About">About</h2>
</div>
<div class="row">
    <h2 id="contact">Contact Us</h2> 
</div>