@{
    ViewBag.Title = "Walksploration";
}

<div class="jumbotron">
    <img src="~/Images/walksplorationBanner.png" style="width : 100% " />
</div>
<div class="container">
    <div class="col-md-12">
        <h2>Have a minute?</h2>
        <h4 style="padding-left: 20px;">Explore your world! Enter your available time, and we will send you to a new, exciting point of interest for you to explore.</h4>
    </div>
</div>

@*Commented out on 8.30.15 to see if processing through the home controller would be more efficient*@
@*<div>
        <p>
            Current location <input type="text" id="address" name="address" size="8" value="" />
            Available time <input type="range" id="availableTime" name="availableTime" max="60" min="0" value="10" />
            <input type="button" id="submitWalk" value="Let's Explore!" onclick="searchAddress("","");" />
        </p>
    </div>*@




<div id="timeSlider" style="background:#ffffff; border: 1px solid #000000; width: 40%; margin:0 auto;">
    <div style="padding: 0px 12px;">
        <p>How long do you have for your walk?</p>
        <input type="range" min="1" max="60" value="0" step="1" onchange="showValue(this.value)" /><br />

        <p><span class="glyphicon glyphicon-time"></span>   <span id="time-display">0</span> mins</p>
        <p> <span onclick="geoFindMe()"> 
      
            
            
 @*In order to pass the information dynamically, without refreshing the page, we must use an ajax call.
 If we were to use the traditional Html.ActionLink as below, the page would be refreshed*@
            @*@Html.ActionLink(
    "Take a Walk!",         // Link Text
    "Index",                // actionName
    "Home",                 // Controller name
    new{
        time = "range",
        startLat = "outLat",
        startLon = "outLon"}
    ),</span></p>
        <div id="outLat"></div><div id="outLon"></div>
    </div>
</div>*@










@*<input id="locInput" class="controls" type="text" placeholder="Enter a location" style="background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 300px;" onfocus:style="border-color: #4d90fe;">*@

<div id="type-selector" class="controls">
    <input type="radio" name="type" id="changetype-all" checked="checked">
    <label for="changetype-all">All</label>

    <input type="radio" name="type" id="changetype-establishment">
    <label for="changetype-establishment">Establishments</label>

    <input type="radio" name="type" id="changetype-address">
    <label for="changetype-address">Addresses</label>
</div>


<h3 id="map_canvas" style="max-width: 1140px; height: 350px; border: 4px solid #5E5454" ;></h3>








<div class="row">
    <h2 id="contact" name="#About">About</h2>
</div>
<div class="row">
    <h2 id="contact">Contact Us</h2>
</div>

@*<script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
<script src="jquery.geocomplete.js"></script>*@
