@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
@{
    ViewBag.Title = "LandingPage";
}
<!-- <div style="position: relative; left: 0; top: 0;">
  <img src="a.jpg" style="position: relative; top: 0; left: 0;"/>
  <img src="b.jpg" style="position: absolute; top: 30px; left: 70px;"/>
</div>  -->

<div style='position:absolute;z-index:0;left:0;top:0;width:100%;height:100%'>    
    <img src='~/Images/LandingPage/DetroitWGradient.jpg' style='width:100%;height:100%' alt='[]' />
</div>
<div style="position:absolute;top: 288px; left: 67px">
   
    <a href="~/home/about"><img src="~/Images/LandingPage/WhiteAboutPin.png" style="width:28%; height:28%;" /> </a>
</div>
<div style=" position:absolute;bottom:23px;right:-638px">
   <a href="http://www.twitter.com/Walksploration"><img src="~/Images/LandingPage/TwitterBubble.png" style="width:28%; height:15%;" /></a>
</div>
<div style="position:absolute;top: 139px;right:-40px">
  <a href="~/Home/Contact"> <img src="~/Images/LandingPage/WhiteContactPin.png" style=" width:31%; height:28%; "/></a>
</div>
<div style="position: absolute; left:407px;bottom:215px">
   <a href="~/Home/Index"> <img src="~/Images/LandingPage/WhiteTakeAWalk (1).png" style="width:55%; height:40%" /></a>
</div>